doctype 5   
html
    head
        meta(charset="utf-8")
        title Mobile Learning

        link(rel="stylesheet", href="/style/css/bootstrap.min.css")
        link(rel="stylesheet", href="/style/css/index.css")

        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/index.js")
            
    body(data-spy="scroll", data-target=".nav-collapse")
        .navbar.navbar-fixed-top.navbar-inverse
            .navbar-inner
                .container
                    a.brand Mobile Learning
                    .nav-collapse.collapse
                        ul.nav
                            li 
                                a(href="#about") О проекте
                            li
                                a(href="#about-app") Приложение
                            li
                                a(href="#themes") Список доступных тем
                            li
                                a(href="#download") Загрузка
                            li
                                a(href="#contacts") Контакты
        .container#content
            .row
                .span12
                    //- Mobile Learning
                    section(id="about")
                        header
                            .page-header
                                h1 Mobile Learning
                            .row
                                .span9
                    //- About app
                    section(id="about-app")
                        .page-header
                            h2 Название нашего приложения
                        .row
                            .span9
                    //- Themes 
                    section(id="themes")
                        .page-header
                            h2.title-themes Список доступных тем для прохождения теста
                        .row
                            .span5
                                .well
                                    ul.nav.nav-list#list
                            .span7#all-themes
                    //-  Donwload
                    section(id="download")
                        .page-header
                            h2 Загрузка
                        .row
                            .span4
                                a(href="#", class="btn btn-large btn-block btn-primary") Скачать
                            .span4
                                img(src="",class="img-polaroid")
                            .span4
                                a(href="#", class="btn btn-large btn-block btn-primary") Google play
                    //- Contacts
                    section(id="contacts")
                       .page-header
                            h2 Контакты 
                        .row
                            .span12
                                form.well.form-horizontal(method="post", action="/saveReview")
                                    .control-group
                                        label(for="email", class="control-label") Email
                                        .controls
                                            input(type="email", placeholder="Email", 
                                                  name="email", id="email", 
                                                  class="input-xlarge", required)
                                    .control-group
                                        label(for="name", class="control-label") Ваше имя
                                        .controls
                                            input(type="text", placeholder="Ваше имя", 
                                                  name="name", id="name", pattern="[а-яА-Яa-zA-z]{3,30}"
                                                  class="input-xlarge", required)
                                    .control-group
                                        label(class="control-label", for="message") Сообщение
                                        .controls 
                                            textarea(placeholder="Ваше сообщение", id="message", class="input-xlarge", 
                                                required, name="message")
                                    .control-group
                                        .controls
                                            button(type="submit", class="btn btn-success", id="submitForm") Отправить
                    //- footer
                    hr
                    footer(id="footer")
                        p.pull-right 
                            a(href="#about") Вернутся в начало
                        p &copy; 2013 - 2014


                    



